// This file is for overriding default buefy scss variables.

/* ========================
      TITLE + SUBTITLE
=========================*/
$title-size: $size-5;

$subtitle-size: $size-6;
$subtitle-line-height: 1.5;


/* ========================
            BOX
=========================*/
$box-shadow: 0;
$box-padding: .2rem;

/* ========================
           THEME
=========================*/

